<div
  class='
    uk-card
    uk-card-default
    uk-card-body
    uk-text-center
    uk-align-center
    uk-position-center
  '
>
  <h3 class='uk-card-title'>{{action | uppercase}} {{symbol}}</h3>
  <form [formGroup]='tradeStockForm' (ngSubmit)='onSubmit()'>

    <div *ngFor='let control of tradeStockForm.controls | keys'>
      <div class='uk-margin'>
        <input
          class='uk-input'
          type='text'
          formControlName='{{ control }}'
          placeholder='{{ control | formatText }}'
        />
      </div>
      <div class='uk-h4' *ngIf="control === 'lastName'">
        Customer Address:
      </div>
    </div>

    <div *ngIf='error' class='uk-alert-danger uk-text-large'>
      <p>{{ errorMessage }}</p>
    </div>

    <div>
      <button
        class='uk-button uk-button-danger'
        type='button'
        (click)='onCancel()'
      >
        Cancel
      </button>
      <button
        type='submit'
        class='uk-button uk-button-primary uk-align-right'
        [disabled]='!tradeStockForm.valid'
      >
        OK
      </button>
    </div>
  </form>
</div>
