<div class='uk-margin-medium-top'>
  <table class="uk-table uk-table-divider">
    <thead>
      <tr>
        <th>Table Heading</th>
        <th>Table Heading</th>
        <th>Table Heading</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Table Data</td>
        <td>Table Data</td>
        <td>Table Data</td>
      </tr>
      <tr>
        <td>Table Data</td>
        <td>Table Data</td>
        <td>Table Data</td>
      </tr>
      <tr>
        <td>Table Data</td>
        <td>Table Data</td>
        <td>Table Data</td>
      </tr>
    </tbody>
  </table>
</div>

<div class='uk-margin-medium-top'>
  <button class="uk-button uk-button-danger uk-align-left" routerLink="../../home">
    GO BACK
  </button>
  <button class="uk-button uk-button-primary uk-align-right">BUY</button>
</div>
